<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Basics</title>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
  <main ng-app="SigmanautApp" ng-controller="SigmanautController as sigmanaut">
    <section class="container">
      <h1>Sigmanaut's angular list</h1>
      <h3>Add a new person</h3>
      <form class="col-md-12">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="sigmanaut.newPerson.firstName" placeholder="First Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="sigmanaut.newPerson.lastName" placeholder="Last Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="gitUsername">Git Username</label>
          <input type="text" name="gitUsername" class="form-control" ng-model="sigmanaut.newPerson.git_username" placeholder="Git Username"/>
        </div>
        <div class="form-group col-md-6">
          <label for="shoutout">Shoutout</label>
          <input type="text" name="shoutout" class="form-control" ng-model="sigmanaut.newPerson.shoutout" placeholder="shoutout"/>
        </div>
        <div class="form-group col-md-6">
          <button type="submit" ng-click="sigmanaut.createPerson()">Submit</button>
        </div>
        <!-- What other fields do we need to ask for in order to get the information we need? -->
      </form>
    </section>
    <section class="container">
      <h3>Class List</h3>
      <input ng-model="search" placeholder="search" />
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="thing in sigmanaut.people | filter: search"> <!-- What needs to be repeated? -->
          <!-- TODO: Create a list item for everyone in the class -->
          <h5>First Name: </h5><p>{{thing.firstName}}</p><br><h5>Last Name:</h5><p>{{thing.lastName}}</p><br><h5>Git Username: </h5><a ng-href="http://github.com/{{thing.git_username}}">{{thing.git_username}}</a><br><h5>Shoutout: </h5><p>{{thing.shoutout}}</p><!-- include the other parameters for the person -->
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
